.container {
    width: 960px;
}
form#pointForm { padding-top: 20px; }

#map_canvas {
    width: 500px;
    height: 400px;
    margin: auto;
}
.point #map_canvas {
    width: 200px;
    height: 400px;
    margin: auto;
}
.form-horizontal .form-group span {
    padding-top: 0;
}

div.point {
    padding-top: 30px;
}